
border-radius(r)
    -moz-border-radius: r
    -webkit-border-radius: r
    -ms-border-radius: r
    border-radius: r
    
border-radius-separate(top-left-radius, top-right-radius, bottom-right-radius, bottom-left-radius)
  -moz-border-radius-topleft: top-left-radius
  -moz-border-radius-topright: top-right-radius
  -moz-border-radius-bottomright: bottom-left-radius
  -moz-border-radius-bottomleft: bottom-right-radius

  -webkit-border-top-left-radius: top-left-radius
  -webkit-border-top-right-radius: top-right-radius
  -webkit-border-bottom-right-radius: bottom-left-radius
  -webkit-border-bottom-left-radius: bottom-right-radius

  -ms-border-top-left-radius: top-left-radius
  -ms-border-top-right-radius: top-right-radius
  -ms-border-bottom-right-radius: bottom-left-radius
  -ms-border-bottom-left-radius: bottom-right-radius

  border-top-left-radius: top-left-radius
  border-top-right-radius: top-right-radius
  border-bottom-right-radius: bottom-left-radius
  border-bottom-left-radius: bottom-right-radius
