div.organogram
    align: center
    div.webix_scroll_cont
        margin-left: auto
        margin-right: auto
        div.webix_organogram_item
            line-height: 1
            background-color: lighten(primary_color, 90%)
            border-color: primary_color
            color: darken(text_color, 80%)
            p
                line-height: 1
                margin-bottom: 0


            div.organogram-card
                .card-title
                     font-size: 1.2rem
                .card-text
                     font-size: 1rem
