<template>
<div class="graph" v-bind:class="{active: display_dashboard}">
  
  <header class="header-page">
    <div class="title  back-logo">{{ dashboard_name }}</div>
  </header>
  
  <div class="text-center" v-bind:class="{hide: dataLoaded}">
    <img src="static/img/loading.gif">
  </div>
  <div class="text-center" v-bind:class="{hide: someDataExist}">
    <h1>Il n'y a pas de données.</h1>
  </div>
  <div class="grid-x" v-bind:class="{hide: dataNotLoadedYet}">
    <div class="small-12 cell">
      <div class="grid-x">
        <!-- T/H -->
        <div class="small-10 cell">
          <h1>Température et Hygrométrie <span v-if="display==1">moyennes</span></h1>
          <highcharts :options="options" ref="highcharts" :series="chart_data"></highcharts>
        </div>
        <div class="small-2 cell">
          <div class="current-values">
            <table class="current-values">
              <tr><td class="current-value-label current-value-T"><i class="fal fa-thermometer-three-quarters"></i></td><td><span class="value" v-bind:class="{ tooHot: isTempTooHot, tooCold: isTempTooCold }">{{ current_T }}</span> <span class="unit">°C</span></td></tr>
              <tr><td class="current-value-label current-value-H"><i class="far fa-tint"></i></td><td><span class="value">{{ current_H }}</span> <span class="unit">%</span></td></tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="grid-x">
        <!-- LUX -->
        <div class="small-10 cell">
          <h1>Luminosité <span v-if="display==1">moyenne</span></h1>
          <highcharts :options="options_lux" ref="highcharts_lux" :series="chart_data_lux" class="chart-lux"></highcharts>
        </div>
        <div class="small-2 cell">
          <div class="current-values">
            <table class="current-values">
              <tr><td class="current-value-label current-value-LUX"><i class="fal fa-lightbulb"></i></td><td><span class="value">{{ current_LUX }}</span> <span class="unit">lux</span></td></tr>
            </table>
          </div>
        </div>
      </div>
      
      <div class="grid-x">
        <!-- CO2/COV -->
        <div class="small-10 cell">
          <h1>CO2 et COV <span v-if="display==1">moyennes</span></h1>
          <highcharts :options="options_co2" ref="highcharts_co2" :series="chart_data_co2"></highcharts>
        </div>
        <div class="small-2 cell">

          <div class="current-values">
            <table class="current-values">
              <tr>
                <td class="current-value-label current-value-CO2">
                  <span class="fa-layers fa-fw">
                    <i class="fal fa-cloud"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-9.5 down-3" style="font-weight:900">CO2</span>
                  </span>
                </td>
                <td><span class="value">{{ current_CO2 }}</span> <span class="unit">PPM</span></td>
              </tr>
              <tr>
                <td class="current-value-label current-value-COV">
                  <span class="fa-layers fa-fw">
                    <i class="fal fa-cloud"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-9.5 down-3" style="font-weight:900">COV</span>
                  </span>
                </td>
                <td><span class="value">{{ current_COV }}</span> <span class="unit">PPM</span></td>
              </tr>
            </table>
          </div>

          <div class="navigation-menu" v-bind:class="{hide: kiosk_mode}">
            <button type="button" class="button" v-bind:class="{selected: !display}" v-on:click="switchDisplay(0)"><i class="far fa-chart-bar"></i> Instantané</button>
            <button type="button" class="button" v-bind:class="{selected: display}" v-on:click="switchDisplay(1)"><i class="far fa-chart-area"></i> Moyennes</button>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</div>
</template>


<script>
import Vue from 'vue';
// import VueHighcharts from 'vue-highcharts';
// Vue.use(VueHighcharts);


import _ from 'lodash'

const axios = require('axios');

const CORRECTIVE_FACTOR_TEMPERATURE = -3;

const VIEW = {
    DETAILLED: 0,
    STATS: 1,
}
const VIEWS_COUNT = 2;


function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

function encode(val) {
    return encodeURIComponent(val).
        replace(/%40/gi, '@').
        replace(/%3A/gi, ':').
        replace(/%24/g, '$').
        replace(/%2C/gi, ',').
        replace(/%20/g, ' ').
        replace(/%5B/gi, '[').
        replace(/%5D/gi, ']');
}

function isDate(val) {
    return toString.call(val) === '[object Date]';
}

function isObject(val) {
    return val !== null && typeof val === 'object';
}

function forEach(obj, fn) {
    // Don't bother if no value provided
    if (obj === null || typeof obj === 'undefined') {
        return;
    }
    
    // Force an array if not already something iterable
    if (typeof obj !== 'object') {
        /*eslint no-param-reassign:0*/
        obj = [obj];
    }
    
    if (isArray(obj)) {
        // Iterate over array values
        for (var i = 0, l = obj.length; i < l; i++) {
            fn.call(null, obj[i], i, obj);
        }
    } else {
        // Iterate over object keys
        for (var key in obj) {
            if (Object.prototype.hasOwnProperty.call(obj, key)) {
                fn.call(null, obj[key], key, obj);
            }
        }
    }
}

function isArray(val) {
    return toString.call(val) === '[object Array]';
}


var options = {
    chart: {
        height: 300,
        type: 'line'
    },
    credits: {
        enabled: false
    },
    title: {
        //text: 'Température et Hygrométrie',
        text: '',
        x: -20 //center
    },
    // subtitle: {
    //     text: 'The4Bees',
    //     x: -20
    // },
    xAxis: {
        type: 'datetime',
        title: {
            text: 'Date',
        },
        labels: {
            style: {
                fontSize: '13px',
            },
        },
    },
    yAxis: [
        {
            title: {
                text: '°C'
            },
            plotLines: [
                {
                    value: 1,
                    width: 1,
                    color: '#808080'
                },
            ],
            labels: {
                style: {
                    fontSize: '13px',
                },
            },
        },
        {
            title: {
                text: 'Hygrométrie'
            },
            plotLines: [
                {
                    value: 2,
                    width: 1,
                    color: '#808080'
                }
            ],
            labels: {
                style: {
                    fontSize: '13px',
                },
            },
            opposite: true,
        },
    ],
    tooltip: {
        // valueSuffix: '°C'
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        borderWidth: 0,
        itemStyle: {
            fontSize: '18px',
        },
    },
    plotOptions: {
        series: {
            marker: {
                enabled: false
            },
        }
    },
    series: [
        {
            name: 'Température',
            data: [],
            color: '#f18700',
        },
        {
            name: 'Hygrométrie',
            data: [],
            color: '#5bc3eb',
        },
    ]
};


var options_co2 = {
    chart: {
        height: 300,
        type: 'line'
    },
    credits: {
        enabled: false
    },
    title: {
        text: '',
        x: -20 //center
    },
    xAxis: {
        type: 'datetime',
        title: {
            text: 'Date',
        },
        labels: {
            style: {
                fontSize: '13px',
            },
        },
    },
    yAxis: [
        {
            title: {
                text: 'CO2'
            },
            plotLines: [
                {
                    value: 0,
                    width: 1,
                    color: '#808080'
                },
            ],
            labels: {
                style: {
                    fontSize: '13px',
                },
            },
        },
        {
            title: {
                text: 'COV'
            },
            plotLines: [
                {
                    value: 1,
                    width: 1,
                    color: '#808080'
                },
            ],
            labels: {
                style: {
                    fontSize: '13px',
                },
            },
            opposite: true,
        },
    ],
    tooltip: {
        valueSuffix: 'PPM'
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        borderWidth: 0,
        itemStyle: {
            fontSize: '18px',
        },
    },
    plotOptions: {
        series: {
            marker: {
                enabled: false
            },
        }
    },
    series: [
        {
            name: 'CO2',
            data: [],
            color: '#36382e',
        },
        {
            name: 'COV',
            data: [],
            color: '#f06449',
        },
    ]
};

var options_lux = {
    chart: {
        height: 200,
        type: 'line'
    },
    credits: {
        enabled: false
    },
    title: {
        text: '',
        x: -20 //center
    },
    xAxis: {
        type: 'datetime',
        title: {
            text: 'Date',
        },
        labels: {
            style: {
                fontSize: '13px',
            },
        },
    },
    yAxis: [
        {
            title: {
                text: 'Lux'
            },
            plotLines: [
                {
                    value: 0,
                    width: 1,
                    color: '#808080'
                },
            ],
            labels: {
                style: {
                    fontSize: '13px',
                },
            },
        },
    ],
    tooltip: {
        valueSuffix: 'Lux'
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        borderWidth: 0,
        itemStyle: {
            fontSize: '18px',
        },
    },
    plotOptions: {
        series: {
            marker: {
                enabled: false
            },
        }
    },
    series: [
        {
            name: 'LUX',
            data: [],
            color: '#17ae30',
        },
    ]
};

export default {
    name: 'Dashboard',
    // components: {
    //     VueHighcharts,
    // },
    data () {
        return {
            display: null,
            first_display_done: false,
            someDataExist: true,
            // Charts
            options: options,
            options_co2: options_co2,
            options_lux: options_lux,
            chart_data: [],
            chart_data_co2: [],
            chart_data_lux: [],
            chart_data_stats: [],
            chart_data_co2_stats: [],
            chart_data_lux_stats: [],
            chart_data_values: [],
            chart_data_co2_values: [],
            chart_data_lux_values: [],
            // base_url: '',
            T: 0,
            H: 0,
            CO2: 0,
            COV: 0,
            LUX: 0,
            axios_instance: null,
            display_dashboard: true,
            count_stats_display: 0,
        };
    },
    props: [
        'base_url',
        'base_url_avg',
        'dashboard_name',
        'kiosk_mode',
    ],
    computed: {
        dataNotLoadedYet: function() {
            return !this.first_display_done || !this.someDataExist;
        },
        dataLoaded: function() {
            return this.first_display_done;
        },
        isTempTooHot: function() {
            if (parseFloat(this.T) > 25) {
                return true;
            }
            return false;
        },
        isTempTooCold: function() {
            if (parseFloat(this.T) < 16) {
                return true;
            }
            return false;
        },
        current_T: function()
        {
            return this.T;
        },
        current_H: function()
        {
            return this.H;
        },
        current_CO2: function()
        {
            return this.CO2;
        },
        current_COV: function()
        {
            return this.COV;
        },
        current_LUX: function()
        {
            return this.LUX;
        },
        
    },
    created: function() {
        this.axios_instance = axios.create(
            {
                paramsSerializer: function(params) {
                    var serializedParams;                        
                    var parts = [];
                    forEach(params, function serialize(val, key) {
                        if (val === null || typeof val === 'undefined') {
                            return;
                        }
                        
                        if (isArray(val)) {
                            key = key + '[]';
                        } else {
                            val = [val];
                        }
                        
                        forEach(val, function parseValue(v) {
                            if (isDate(v)) {
                                v = v.toISOString();
                            } else if (isObject(v)) {
                                v = JSON.stringify(v);
                            }
                            parts.push(encode(key) + '=' + encode(v));
                        });
                    });
                    
                    serializedParams = parts.join('&');
                    return serializedParams;
                }
            }
        )
    },
    mounted: function() {
        this.getData();
        this.getDataStats();
        if (this.kiosk_mode == true) {
            this.timer_switch_display = setInterval(this.getDataAndSwitchDisplay, 30000);
        } else {
            this.timer_refresh_data = setInterval(this.getData, 60000);
            this.timer_refresh_stats = setInterval(this.getDataStats, 6000000);
        }
        sleep(5000);
        this.switchDisplay(VIEW.DETAILLED);
    },
    methods: {
        displayDashboard: function(state) {
            this.display_dashboard = state;
        },
        extractData: function(data) {
            var chart_T = [];
            var chart_H = [];
            var chart_CO2 = [];
            var chart_COV = [];
            var chart_LUX = [];

            if (data.length == 0) {
                this.someDataExist = false;
                this.first_display_done= true;
            }
            for (var data_point of data) {
                var cdate = new Date(data_point.date);
                cdate = cdate.getTime();
                
                var point_T = [parseInt(cdate), parseFloat(data_point.temperature) + CORRECTIVE_FACTOR_TEMPERATURE];
                var point_H = [parseInt(cdate), parseFloat(data_point.humidity)];
                var point_CO2 = [parseInt(cdate), parseFloat(data_point.co2)];
                var point_COV = [parseInt(cdate), parseFloat(data_point.voc)];
                var point_LUX = [parseInt(cdate), parseInt(parseFloat(data_point.lux) * 10)];
                chart_T.unshift(point_T);
                chart_H.unshift(point_H);
                chart_CO2.unshift(point_CO2);
                chart_COV.unshift(point_COV);
                chart_LUX.unshift(point_LUX);
            }
            this.chart_data_values = [
                {
                    name: 'Température',
                    yAxis: 0,
                    data: chart_T,
                },
                {
                    name: 'Hygrométrie',
                    yAxis: 1,
                    data: chart_H,
                },
            ]
            this.chart_data_co2_values = [
                {
                    name: 'CO2',
                    yAxis: 0,
                    data: chart_CO2,
                },
                {
                    name: 'COV',
                    yAxis: 1,
                    data: chart_COV,
                },
            ]
            
            this.chart_data_lux_values = [
                {
                    name: 'LUX',
                    yAxis: 0,
                    data: chart_LUX,
                },
            ]
            
            this.T = parseFloat(data[0].temperature) + CORRECTIVE_FACTOR_TEMPERATURE;
            this.H = parseFloat(data[0].humidity);
            this.CO2 = parseFloat(data[0].co2);
            this.COV = parseFloat(data[0].voc);
            this.LUX = parseInt(parseFloat(data[0].lux) * 10);
        },
        extractDataStats: function(data) {
            var chart_T = [];
            var chart_H = [];
            var chart_CO2 = [];
            var chart_COV = [];
            var chart_LUX = [];
            for (var data_point of data) {
                var cdate = new Date(data_point.date);
                cdate = cdate.getTime();
                
                var point_T = [parseInt(cdate), parseFloat(data_point.temperature) + CORRECTIVE_FACTOR_TEMPERATURE];
                var point_H = [parseInt(cdate), parseFloat(data_point.humidity)];
                var point_CO2 = [parseInt(cdate), parseFloat(data_point.co2)];
                var point_COV = [parseInt(cdate), parseFloat(data_point.voc)];
                var point_LUX = [parseInt(cdate), parseInt(parseFloat(data_point.lux) * 10)];
                chart_T.unshift(point_T);
                chart_H.unshift(point_H);
                chart_CO2.unshift(point_CO2);
                chart_COV.unshift(point_COV);
                chart_LUX.unshift(point_LUX);
            }
            this.chart_data_stats = [
                {
                    name: 'Température',
                    yAxis: 0,
                    data: chart_T,
                },
                {
                    name: 'Hygrométrie',
                    yAxis: 1,
                    data: chart_H,
                },
            ]
            this.chart_data_co2_stats = [
                {
                    name: 'CO2',
                    yAxis: 0,
                    data: chart_CO2,
                },
                {
                    name: 'COV',
                    yAxis: 1,
                    data: chart_COV,
                },
            ]
            this.chart_data_lux_stats = [
                {
                    name: 'LUX',
                    yAxis: 0,
                    data: chart_LUX,
                },
            ]
        },
        getData: function(obj) {
            console.log('Get data');
            var self = this;
            
            this.axios_instance.get(
                this.base_url,
                {
                    params: {
                        'limit': 600,
                        'format':'json',
                    },
                }).then(function (response) {
                    self.extractData(response.data.results);
                    if (self.first_display_done == false) {
                        console.log('Force display');
                        self.first_display_done = true;
                        self.switchDisplay();
                    }

                    if (self.kiosk_mode == true || self.display == VIEW.DETAILLED) {
                        self.chart_data = self.chart_data_values;
                        self.chart_data_co2 = self.chart_data_co2_values;
                        self.chart_data_lux = self.chart_data_lux_values;
                        self.redraw();
                    }
                }).catch(function (error) {
                    // handle error
                    self.someDataExist = false;
                    console.log(error);
                });
        },  
        
        getDataStats: function(obj) {
            console.log('Get data stats');
            var self = this;
            var today = new Date();
            this.axios_instance.get(
                this.base_url_avg,
                {
                    params: {
                        'limit': 100,
                        'format':'json',
                    },
                }).then(function (response) {
                    console.log('extractDataStats');
                    self.extractDataStats(response.data);
                    if (self.kiosk_mode == true || self.display == VIEW.STATS) {
                        self.chart_data = self.chart_data_stats;
                        self.chart_data_co2 = self.chart_data_co2_stats;
                        self.chart_data_lux = self.chart_data_lux_stats;
                        self.redraw();
                    }
                });
        },  
        
        getDataAndSwitchDisplay: function() {
            this.display = (this.display + 1) % VIEWS_COUNT;
            
            if (this.display == VIEW.STATS) {
                // Refresh stats once on 10000 calls
                this.count_stats_display = (this.count_stats_display + 1) % 10000;
                if (this.count_stats_display == 0) {
                    this.getDataStats();
                }
                else {
                    console.log('Just display data stats');
                    this.chart_data = this.chart_data_stats;
                    this.chart_data_co2 = this.chart_data_co2_stats;
                    this.chart_data_lux = this.chart_data_lux_stats;
                    this.redraw();
                }
            }
            else if (this.display == VIEW.DETAILLED) {
                this.getData();
            }
        },
        
        switchDisplay: function(state) {
            console.debug('switchDisplay', state);
            if (state !== undefined) {
                this.display = state;
            }
            else if (this.kiosk_mode == true) {
                this.display = (this.display + 1) % VIEWS_COUNT;
            }
            if (this.display == VIEW.STATS) {
                this.chart_data = this.chart_data_stats;
                this.chart_data_co2 = this.chart_data_co2_stats;
                this.chart_data_lux = this.chart_data_lux_stats;
            }
            else if (this.display == VIEW.DETAILLED) {
                this.chart_data = this.chart_data_values;
                this.chart_data_co2 = this.chart_data_co2_values;
                this.chart_data_lux = this.chart_data_lux_values;
            }
            this.redraw();
        },
        redraw: function(){
            console.debug('redraw');

            var self = this;

            var data = this.chart_data;
            var data_co2 = this.chart_data_co2;
            var data_lux = this.chart_data_lux;
            
            Vue.nextTick(function() {
                var hc = self.$refs.highcharts;
                if (hc !== undefined && hc.chart !== undefined) {
                    hc.chart.update(
                        {
                            series: data,
                        }
                    );
                }
                else {
                    Vue.nextTick(function() {
                        console.log('REDRAW on nextTick', self.chart_data, self.$refs);
                        var hc = self.$refs.highcharts;
                        if (hc !== undefined && hc.chart !== undefined) {
                            hc.chart.update(
                                {
                                    series: data,
                                }
                            );
                        }
                    });
                }
            });

            Vue.nextTick(function() {
                var hc = self.$refs.highcharts_co2;
                if (hc !== undefined && hc.chart !== undefined) {
                    hc.chart.update(
                        {
                            series: data_co2,
                        }
                    );
                }
                else {
                    Vue.nextTick(function() {
                        console.log('REDRAW on nextTick', self.chart_data, self.$refs);
                        var hc = self.$refs.highcharts_co2;
                        if (hc !== undefined && hc.chart !== undefined) {
                            hc.chart.update(
                                {
                                    series: data_co2,
                                }
                            );
                        }
                    });
                }
            });

            Vue.nextTick(function() {
                var hc = self.$refs.highcharts_lux;
                if (hc !== undefined && hc.chart !== undefined) {
                    hc.chart.update(
                        {
                            series: data_lux,
                        }
                    );
                }
                else {
                    Vue.nextTick(function() {
                        console.log('REDRAW on nextTick', self.chart_data, self.$refs);
                        var hc = self.$refs.highcharts_lux;
                        if (hc !== undefined && hc.chart !== undefined) {
                            hc.chart.update(
                                {
                                    series: data_lux,
                                }
                            );
                        }
                    });
                }
            });

        },
    },      
}
</script>

<style scoped>
  .navigation-menu {
  margin-right: 4px;
  }
  .navigation-menu button {
  width: 100%;
  }
  .navigation-menu button.selected {
  color: #fc5a11;
  background-color: #fff;
  }
  .title {
  font-size: 38px;
  color: #448;
  font-weight: bold;
  }
  h1 {
  text-align: center;
  color: #666;
  }
  .current-values {
    font-size: 42px;
  }
  .current-value-label {
    color: #888;
    text-align: center;
  }
  .current-value-T {
    color: #f18700;
  }
  .current-value-H {
    color: #5bc3eb;
  }
  .current-value-CO2 {
    color: #36382e;
  }
  .current-value-COV {
    color: #f06449;
  }
  .current-value-LUX {
    color: #17ae30;
  }
  .unit {
    color: #888;
  }
  .value {
    font-weight: bold;
  }
  .tooHot {
    color: #f66;
  }
  .tooCold {
    color: #258ede;
  }
  .logo {
    display: float;
    bottom: 0;
    text-align: right;
    margin-top: 36rem;
    margin-right: 1rem;
  }
  .back-logo {
      // background-image: url('/static/img/THE4BEES-Simple-logo-Horizontal-CMYK.png');
      // background-repeat:no-repeat;
      // background-position:right bottom;
      // background-size: contain;
      // background-height: 57px;
  }
  @media screen and (max-width: 1200px) {
    .current-values {
      font-size: 34px;
    }
  }
  @media screen and (max-width: 1000px) {
    .current-values {
      font-size: 32px;
    }
  }
  @media screen and (max-width: 960px) {
    .current-values {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 900px) {
    .current-values {
      font-size: 26px;
    }
  }
  @media screen and (max-width: 800px) {
    .current-values {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 650px) {
    .current-values {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 500px) {
    .current-values {
      font-size: 14px;
    }
  }
</style>
