<template>
<div class="multiple_graphes">
  <dashboard
     v-for="dashboard in dashboards"
     v-bind:base_url="dashboard.base_url"
     v-bind:base_url_avg="dashboard.base_url_avg"
     v-bind:dashboard_name="dashboard.dashboard_name"
     v-bind:kiosk_mode="kiosk_mode"
     :key="dashboard.id"
     >
  </dashboard>
  <div class="navigation-menu" v-bind:class="{hide: kiosk_mode}">
    <div>
      <button type="button" class="button"
              v-for="dashboard in dashboards"
              v-on:click="switchDisplay(dashboard.id)"
              v-bind:class="{selected: displayed_number==dashboard.id}"
              :key="dashboard.id"
         >
        {{ dashboard.dashboard_name }}
      </button>
    </div>
  </div>
</div>
</template>


<script>
import Vue from 'vue';
import Dashboard from './dashboard.vue';

import _ from 'lodash'

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}


export default {
    name: 'MultipleDashboards',
    components: {
        Dashboard,
    },
    props: [
        'dashboards',
        'kiosk_mode',
    ],
    data () {
        return {
            displayed_number: 0,
        };
    },
    computed: {
        hideItem: function() {
            return false;
        },
    },
    mounted: function() {
        if (this.kiosk_mode) {
            this.timer = setInterval(this.switchDisplay, 10000);
        }
        sleep(1000);
        this.switchDisplay(0);
    },
    methods: {
        switchDisplay: function(id) {
            if (id != undefined) {
                this.displayed_number = id;
            }
            else {
                this.displayed_number = (this.displayed_number + 1) % this.$children.length;
            }
            for (var id in this.$children) {
                if (id == this.displayed_number) {
                    this.$children[id].displayDashboard(true);
                }
                else {
                    this.$children[id].displayDashboard(false);
                }
            }
        },
    },
}

</script>

<style scoped>
  .navigation-menu button {
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  }

  .navigation-menu button.selected {
  color: #fc5a11;
  background-color: #fff;
  }


  div.graph {
    transition: opacity 1.66s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
  }
  div.graph.active {
    opacity: 1;
    height: auto;
  }
</style>
