/* Scss Document */
/* Support Dev*/
.bgroseDev
  background-color: rgba(251, 7, 204, 0.7) !important
.bgvertDev
  background-color: rgba(65, 249, 28, 0.7) !important
.bgbleuDev
  background-color: rgba(17, 205, 244, 0.7) !important
.bgorangeDev
  background-color: rgba(251, 169, 15, 0.7) !important
.bgmarronDev
  background-color: rgba(143, 102, 94, 0.7) !important
/********** ELEMENTS COMMUNS **********/
/********** SPACING **********/
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* Ajout Blocs Espacement */
.vertical-space, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5
  display: block
  width: 100%
  margin: 0
  clear: both
  border: 0 none
  height: 20px
.vertical-space2
  height: 2.500rem
.vertical-space3
  height: 3.750rem
.vertical-space4
  height: 5.000rem
.vertical-space5
  height: 6.250em
/* Ajout Padding et Margin */
.noPadding
  padding: 0rem 0rem 0rem 0rem !important
.noPadBottom
  padding-bottom: 0rem !important
.noPadTop
  padding-top: 0rem !important
.paddingBottom_10
  padding-bottom: 0.625rem !important
.paddingBottom_20
  padding-bottom: 1.25rem !important
.paddingBottom_30
  padding-bottom: 1.875rem !important
.paddingBottom_40
  padding-bottom: 2.5rem !important
.paddingBottom_50
  padding-bottom: 3.125rem !important
.paddingBottom_60
  padding-bottom: 3.75rem !important
.paddingBottom_70
  padding-bottom: 4.375rem !important
.paddingtop_10
  padding-top: 0.625rem !important
.paddingtop_20
  padding-top: 1.25rem !important
.paddingtop_30
  padding-top: 1.875rem !important
.paddingtop_40
  padding-top: 2.5rem !important
.paddingtop_50
  padding-top: 3.125rem !important
.paddingtop_60
  padding-top: 3.75rem !important
.paddingtop_70
  padding-top: 4.375rem !important
.paddingLeft_10
  padding-left: 0.625rem !important
.paddingLeft_20
  padding-left: 1.25rem !important
.paddingLeft_30
  padding-left: 1.875rem !important
.paddingLeft_40
  padding-left: 2.5rem !important
.paddingLeft_50
  padding-left: 3.125rem !important
.paddingLeft_60
  padding-left: 3.75rem !important
.paddingLeft_70
  padding-left: 4.375rem !important
.paddingRight_10
  padding-right: 0.625rem !important
.paddingRight_20
  padding-right: 1.25rem !important
.paddingRight_30
  padding-right: 1.875rem !important
.paddingRight_40
  padding-right: 2.5rem !important
.paddingRight_50
  padding-right: 3.125rem !important
.paddingRight_60
  padding-right: 3.75rem !important
.paddingRight_70
  padding-right: 4.375rem !important
.noMargin
  margin: 0px 0px 0px 0px !important
.noMarginTop
  margin-top: 0px !important
.noMarginBottom
  margin-bottom: 0px !important
.marginCenter
  margin: auto auto !important
.marginL-2
  margin-left: 2% !important
.marginR-2
  margin-right: 2% !important
.marginAll
  margin: 0.9375rem !important
.marginBottom_10
  margin-bottom: 0.625rem !important
.marginBottom_20
  margin-bottom: 1.25rem !important
.marginBottom_30
  margin-bottom: 1.875rem !important
.marginBottom_40
  margin-bottom: 2.5rem !important
.marginBottom_50
  margin-bottom: 3.125rem !important
.marginBottom_60
  margin-bottom: 3.75rem !important
.marginBottom_70
  margin-bottom: 4.375rem !important
.marginTop_10
  margin-top: 0.625rem !important
.marginTop_20
  margin-top: 1.25rem !important
.marginTop_30
  margin-top: 1.875rem !important
.marginTop_40
  margin-top: 2.5rem !important
.marginTop_50
  margin-top: 3.125rem !important
.marginTop_60
  margin-top: 3.75rem !important
.marginTop_70
  margin-top: 4.375rem !important
.marginLeft_10
  margin-left: 0.625rem !important
.marginLeft_20
  margin-left: 1.25rem !important
.marginLeft_30
  margin-left: 1.875rem !important
.marginRight_10
  margin-right: 0.625rem !important
.marginRight_20
  margin-right: 1.25rem !important
.marginRight_30
  margin-right: 1.875rem !important
.no-padLeft
  padding-left: 0px !important
.no-padRight
  padding-right: 0px !important
/* AJOUT PADDING FOUNDATION */
.padLeft
  padding-left: 0.625rem !important
.padRight
  padding-right: 0.625rem !important
.padAll
  padding: 0.625rem !important
/* AJOUT PADDING FOUNDATION X2 - */
.padLeft_x2
  padding-left: 1.875rem !important
.padRight_x2
  padding-right: 1.875rem !important
.padLeft-Right_x2
  padding-left: 1.875rem !important
  padding-right: 1.875rem !important
.padAll_x2
  padding: 1.875rem !important
/* SPACING THEME */
/* http://sonspring.com/journal/clearing-floats */
.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*@note : MESSAGE ERREUR NAVIGATEURS OBSOLÈTES	*/
.message_ie6
  position: relative
  padding: 14px 40px 14px 40px
  font-size: 12px
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  color: #FFF
  text-align: center !important
  background-color: #C00
  border: 1px solid #fff
  z-index: 100
  p
    font-size: 16px
    font-family: Arial, Helvetica, sans-serif
    color: #FFF
    text-align: center
  a
    color: #fff
    font-size: 16px
    font-weight: normal
    &:hover
      color: #fff
      text-decoration: underline
  h4
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    text-align: center !important
    padding: 5px 0px 5px 0px
    margin: 0px 0px 20px 0px
    font-size: 30px
    color: #FFFFFF
/* DISPLAY */
.inline-block
  display: inline-block !important
.inline
  display: inline !important
.block
  display: block !important
/* TXT - TITRE */
.txt-orange
  color: $orange-thermix
.txt-light
  font-weight: normal !important
.txt-left
  text-align: left !important
.txt-right
  text-align: right !important
.line-height-normal
  line-height: normal !important
h1,h2,h3,h4
  font-family: 'din-regular', sans-serif
  text-transform: uppercase
h1
  font-size: 1.9375rem
//31px
h2
  font-size: 1.5625rem
//25px
h3
  font-size: 1.250rem
//20px
h4
  font-size: 1.125rem
//18px
.txt_content
  font-size: 1.125rem
  p
    font-size: 1.125rem
.text-uppercase
  text-transform: uppercase
/*//// FENETRE MODALE /////*/
.reveal
  padding: 1.5rem
/* LIENS */
a
  color: $orange-thermix
  i
    vertical-align: middle
  &:hover,&:focus
    transition: all 0.25s ease
  &:hover, &:focus
    color: $orange-thermix
    text-decoration: underline
/* AIDE */
.has-tip
  position: relative
  display: inline-block
  border-bottom: none
  cursor: help
  display: inline-block
  font-weight: bold
  position: relative
  color: $gris-aide
/*----------------------------------------------------------------------------------------------------*/
/*/////  BG CONTENT /////*/
.bg-gris-content
  background-color: $bg-gris-content
  padding: 4rem 0 4rem 0
.bg-blanc-content
  background-color: #fff
  padding: 0
  margin: 3rem 0 0 0
/*/////  BT /////*/
.button
  position: relative
  border-radius: 5px
  border: 3px solid $orange-thermix
  margin: 0 0 0.625rem 0
  font-family: 'din-medium',sans-serif
  background-color: $orange-thermix
  text-transform: uppercase
  font-size: 1.125rem
  line-height: 1.3rem
  color: #fff
  text-decoration: none !important
  &:not(.disabled):hover,
  &:focus,
  &.bt-active
    text-decoration: none
    color: $orange-thermix
    border: 3px solid $orange-thermix
    background-color: white
    text-decoration: none
  &.disabled,
  &.disabled:hover,
  &.disabled:focus
    text-decoration: none
    color: white
    border: 3px solid $bt-off
    background-color: $bt-off
  .info-bt
    position: relative
    display: block
    font-weight: normal
    text-transform: none
    font-size: 1.063rem
    clear: both
  &.next:after
    font-family: "ico-thermix"
    content: "\e908"
    font-size: 1.3rem
    font-style: normal
    font-variant: normal
    font-weight: normal
    line-height: 0
    position: relative
    right: -0.5rem
    top: -0.10rem
    text-transform: none
    vertical-align: middle
  &.small
    font-size: 0.875rem
    font-family: 'din-regular', sans-serif
    font-weight: normal
    border-radius: 10px
    padding: 0.45rem 1.1rem
    color: #fff
    text-decoration: none
    line-height: 1.3rem
    &:hover,
    &:focus,
    &.bt-active
      color: $orange-thermix
    &.nextSmall:after
      font-family: "ico_thermix"
      content: "\e905"
      font-size: 0.6rem
      font-style: normal
      font-variant: normal
      font-weight: normal
      line-height: 0
      position: relative
      right: -0.5rem
      top: -0.10rem
      text-transform: none
      vertical-align: middle
  &.large
    font-size: 2rem
  &.bt_bleu
    //	background-color: $bt-bleu;
    &:hover,&:focus
      background-color: rgba(0, 88, 123, 0.8)
  &.size50
    width: 49.4%
  &.expanded
    clear: both
/*//// FORMULAIRES /////*/
label
  font-size: 1.375rem
  margin-bottom: 3rem
  line-height: normal
  color: $txt-form
input
  text-align: left
  //font-size:1.125rem !important;
  &.custom-value
    // border-color: $orange-thermix;
    color: $orange-thermix
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea
  -moz-appearance: none
  background-color: #fefefe
  border: 1px solid #cacaca
  border-radius: 0
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset
  box-sizing: border-box
  color: $txt-form
  display: block
  font-family: inherit
  font-size: 1.125rem
  font-weight: normal
  height: 3rem
  transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s
  width: 100%
  margin: 0.5rem 0 0rem 0
[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus
  background-color: #fefefe
  border: 1px solid #8a8a8a
  box-shadow: 0 0 5px #cacaca
  outline: medium none
  transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s
select
  cursor: pointer
  height: 3rem
  //margin: 0 0 1rem;
  margin: 0.5rem 0 1rem 0
  padding: 0.5rem
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: 1px solid #cacaca
  border-radius: 0
  background-color: #fefefe
  font-family: inherit
  font-size: 1.125rem
  line-height: normal
  color: $txt-form
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>")
  background-origin: content-box
  background-position: right -1rem center
  background-repeat: no-repeat
  background-size: 9px 6px
  padding-right: 1.5rem
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out
.input-group-field
  height: 3rem
  margin: 0.5rem 0 0rem 0
.input-group-label
  font-size: 1rem
  height: 3rem
  margin: 0.5rem 0 0rem 0
/// AFFICHAGE ERREUR FORM
.form-error
  margin: -.3rem 0 1rem 0
  font-size: .9rem
.callout.alert
  position: relative
  display: inline-block
  background-color: #E00003
  color: #fff
  font-weight: bold
.is-invalid-input:not(:focus)
  background-color: #fafafa
  border: 2px solid #cc4b37
  color: #c60f13
// LISTES //
ul.nolist
  list-style: none
  li
    display: inline-block
[type="checkbox"] + label, [type="radio"] + label
  display: inline
  margin-bottom: 0
  margin-left: 0.5rem
  margin-right: 1rem
  vertical-align: baseline
  font-size: 1rem
input::-moz-placeholder, textarea::-moz-placeholder
  color: $gris-placeholder !important
  text-align: left important
.radio_list
  .radio
    line-height: 0.5rem !important
    margin-bottom: 1rem
    [type="radio"]
      margin-bottom: none
// RESULTAT ESTIMATION //
.callout
  &.estimation
    border: 6px solid $orange-thermix
    font-size: 1.125rem
    padding: 2rem
    h1,h2,h3,h4
      color: $orange-thermix
// PAGE RESULTATS EVALUATION //
p.txt-info
  color: $txt-small-info
  font-size: 0.875rem
  line-height: normal
  &.callout
    background-color: #f1f0ed
    border: 1px solid #ffffff
/*//// ELEMENTS MISE EN FORME  /////*/
section
  margin: 0 0 0 0
.page-title
  text-transform: uppercase
  text-align: center
  color: $titre-page
  padding: 9px
  margin: 0 0 0.313rem 0
  &:before
    content: "━━━━━"
    font-size: 1rem
    padding-right: 1rem
    color: $filet-titre
  &:after
    content: "━━━━━"
    font-size: 1rem
    padding-left: 1rem
    color: $filet-titre
h2.page-title, h3.page-title, h4.page-title
  color: $orange-thermix
.sous-titre
  font-size: 1rem
  display: block
  clear: both
  margin-top: -0.5rem
  color: $sous-titre
  text-align: center
/******************* ALL MOBILES - Max 1024px *******************/
@media only screen and (max-width: 1024px)
  /* Adapte toutes les valeurs Rem */
  html
    font-size: 90%
  header
    &.header-page
      font-size: 70%
      .bg-filet
        width: 20%
      .titre-baseline
        font-size: 150%
  // FORMULAIRE //
  .radio_list
    label
      font-size: 80%
      line-height: normal
  [type="radio"]
    line-height: 0.2rem
    margin: 0
  [type="checkbox"] + label, [type="radio"] + label
    line-height: normal
  .form-error
    font-size: 80%
  .icon-aide
    font-size: 120%
/*******************  MOBILES SMALL - 0px>639px *******************/
@media only screen and (min-width: 0px) and (max-width: 639px)
  html
    font-size: 70%
  header
    .logo
      max-width: 70%
  header
    &.header-page
      //a.bt-nav{
      //	font-size:90%;
      //}
      .bg-filet
        width: 5%
      .titre-baseline
        font-size: 150%
        margin-bottom: 1rem
      .entete
        .devis-title
          .title
          .icon-logo-devis
             font-size: 1.8rem

  /*BUTTON */
  .button
    font-size: 150%
    line-height: normal
  .button.small
    font-size: 100%
    line-height: normal


div.form
  background-color: $form-background
  padding-bottom: 2rem
  h2
    margin-top: 3rem
    color: $titre-page
    font-weight: bold
  .form-label
    font-size: 1.3rem
    font-weight: bold
.input-group
  .input-group-label
    color: #888

div.form-bottom
  background-color: $form-background-bottom
  padding-top: 4rem
  padding-bottom: 4rem

button.back
  color: #979186
  background-color: #fff
  border-color: #979186

h3
  color: #253c4e
  font-weight: bold

.help-text
  color: #666

.sub-title
  color: #666
  margin-bottom: 1rem


/* Icons */

@font-face
  font-family: 'ico_evaluer'
  src:  url('/static/fonts/ico_evaluer.eot?rtasz7')
  src:  url('/static/fonts/ico_evaluer.eot?rtasz7#iefix') format('embedded-opentype'),
        url('/static/fonts/ico_evaluer.ttf?rtasz7') format('truetype'),
        url('/static/fonts/ico_evaluer.woff?rtasz7') format('woff'),
        url('/static/fonts/ico_evaluer.svg?rtasz7#ico_evaluer') format('svg')
  font-weight: normal
  font-style: normal



i.icon-back
i.icon-back2
i.icon-next
i.icon-next2
i.icon-plus
i.autoconsumption
i.free_sale
i.iwb
i.overlay
i.surplus_sale
  font-family: 'ico_evaluer' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


i.autoconsumption:before
  content: "\e900"
i.free_sale:before
  content: "\e901"
i.iwb:before
  content: "\e908"
i.overlay:before
  content: "\e908"
i.surplus_sale:before
  content: "\e902"


i.icon-back:before 
  content: "\e903"

i.icon-back2:before 
  content: "\e904"

i.icon-next:before 
  content: "\e905"

i.icon-next2:before 
  content: "\e906"

i.icon-plus:before 
  content: "\e907"

button.modal-helper
  color: #fc5a11
  cursor: help
  font-size: 1.6rem

div.v--modal-box
  padding: 1rem
  overflow: auto !important

div.leaflet-control-attribution
  display: none

.help-icon
  color: #aaa
  float: right
  margin-left: 1rem
  font-size: 3rem