footer
  &.page-footer
    margin: 0rem 0 0 0
    padding: 0rem 0 3rem 0
    //border-top: 2rem solid #f1efec
    color: $gris-footer
    font-size: .813rem
    .media-object.partenaire
      display: inline-block
      vertical-align: middle
      .media-object-section
        display: table-cell
        vertical-align: middle
        img
          max-width: 100%
  /*-- EXTENSION-GRAPHIC SIGNATURE -------------------------------------------*/
  .signature
    font-size: .625rem
    a
      color: $gris-footer
      &:hover
        color: $orange-thermix
        text-decoration: underline