header
  &.header-page
    position: relative
    background: url(/static/img/bg_header.jpg)
    background-size: cover
    overflow: hidden
    text-align: center
    // #logo-iera{
    // 	margin: 1rem 0 1.4rem 0;
    // }
    #logo-iera
      //max-height: 160px
      //height: 20vw
      margin-left: 1em
      margin-right: 1em
    .entete
      position: relative
      display: inline-block
      padding: 2.7em 0
      .v-centering-container
        display: flex
        flex-direction: row
        align-items: center
        position: absolute
        left: -15rem
      .devis-title
        margin: auto 0
        .title
        .icon-logo-devis
            position: relative
            display: block
            float: left
            font-weight: bold
            font-size: 2.5rem
            color: white
            line-height: 7rem
            height: 5rem
        .title::after
            font-size: 1rem;
            padding-left: 1rem;
            content: '━━━━━━━━━';
            color: #fff;
        .bg-filet
            position: relative
            float: right
            width: 30%
            height: 1.2rem
            margin: 2rem 0 0 1rem
            border-bottom: 1px solid #fff
        .subtitle
          position: relative
          display: block
          float: left
          clear: both
          text-transform: uppercase
          color: white
          font-size: 1.9375rem
          text-align: left
          padding-left: .2em
    /*-- Pro access and help links ---------------------------------------------*/
    .nav-quick-access
      position: absolute
      top: 0
      right: 0
      background-color: white
      padding: .6rem 1rem
      font-size: .875rem
      color: black
      z-index: 2
      a
        margin-left: .6rem
        padding-right: .6rem
        color: black
        border-right: 1px solid #111
        text-decoration: none
        &:first-child
          margin-left: 0
        &:last-child
          padding-right: 0
          border: none
        &:hover
          color: $orange-thermix
        &:before
          position: relative
          top: -0.1em
          margin-right: .4em
          color: $orange-thermix
          font-size: 1rem
          font-style: normal
          font-variant: normal
          font-weight: normal
          line-height: 0
          vertical-align: middle
          text-transform: none
/*-- MEDIA QUERIES -----------------------------------------------------------*/
@media (max-width: 1200px)
  header.header-page .entete
    display: flex
    flex-direction: row
    justify-content: space-evenly
    .v-centering-container
      position: relative
      left: 0
      margin-right: 2rem
@media (max-width: 780px)
  header.header-page .entete
    justify-content: space-between
    .devis-title
      font-size: 3vw
@media (max-width: 450px)
  header.header-page .entete
    flex-direction: column
    .v-centering-container
      margin: 1rem auto auto auto
      #logo-iera
        height: 100px
    .devis-title
      text-align: center
      .title
        float: none
        line-height: 2.3rem
        .icon-logo-devis
          float: none
        .bg-filet
          display: none
      > .subtitle
        float: none
        text-align: center
        font-size: 1.5375rem
