body
  font-family: 'din-regular', sans-serif
  background: #fff
  color: $txt_content
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  // Webkit based browsers
  -moz-osx-font-smoothing: grayscale
  // Firefox
  text-rendering: optimizeLegibility
  // Safari, old Chrome
  font-feature-settings: 'liga'
  // IE
*:required
  box-shadow: none
.disabled
  cursor: not-allowed !important
  // pointer-events: none;
.has-tip:focus
  outline: none
a.animated
  color: $orange-thermix
  position: relative
  text-decoration: none
  &::after
    content: ''
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 2px
    background: rgba(241, 135, 0, 0.6)
    opacity: 0
    transition: opacity 300ms, transform 300ms
    transform: translateY(10px)
  &:hover::after
    opacity: 1
    transform: translateY(0px)
  &.estimate-needs
    font-size: 1.1rem
    &:before
      position: absolute
      top: -18px
      left: calc(50% - 15px)
      width: 30px
      height: 60px
      line-height: 60px
      content: '?'
      font-size: 3.2rem
      font-weight: bold
      color: rgba(0, 0, 0, 0.08)
#loading-dimmer
  display: none
  cursor: wait
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  background-color: rgba(0, 0, 0, 0.75)
  z-index: 1001
  &.visible
    display: block
  > .text
    position: absolute
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    color: white
    font-size: 3rem
    text-align: center
.js-main-step-content,
.js-scenarii-tab-panel,
.js-estimate-from-panel
  display: none
  &.active
    display: block
.js-estimate-from-panel
  &.input-group.active
    display: flex
  & label
    font-size: 1.1rem
    margin-bottom: 1rem
#invoices
  text-align: right
  ::-webkit-input-placeholder
    text-align: left
  &:-moz-placeholder
    text-align: left

.field-error
  color: #800

/*-- MEDIA QUERIES -----------------------------------------------------------*/
@media (max-width: 780px)
  .page-title:before,
  .page-title:after
    display: block
    padding: 0
/*-- WEBPACK HACK ------------------------------------------------------------*/
//HACK force webpack to load them
img
  &.info-energie
    content: url("/static/img/info_energie.png")
  &.hespul
    content: url("/static/img/hespul.png")
  &.ademe
    content: url("/static/img/ademe.png")
  &.region-auvergne-rhone-alpes
    content: url("/static/img/region-auvergne-rhone-alpes.png")
  &.europe
    content: url("/static/img/europe.png")
  &.thermix
    content: url("/static/img/thermix.png")
  &.smiley-overjoyed
    content: url("/static/img/smiley-overjoyed.png")
  &.smiley-happy
    content: url("/static/img/smiley-happy.png")
  &.smiley-wondering
    content: url("/static/img/smiley-wondering.png")