.tabs-content
  border: none
nav.main-tabs
  position: relative
  background: $tab-active
  border-top: 2px solid white
  ul
    border: none
    background: none
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    margin: .5rem 0 0 0
    list-style: none
    text-align: center
    li
      position: relative
      display: inline-block
      margin: 0 20px 0 0
      color: white
      &:last-child
        margin-right: 0
        &:after
          color: white
          content: none
      &:after
        font-family: 'ico_evaluer' !important
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        content: "\e905"
        position: absolute
        display: inline-block
        top: 6px
        right: -20px
        margin: 0 0 0 0
        color: white
        font-weight: bold
        font-size: 1.2rem
      a.bt-nav
        position: relative
        display: inline-block
        height: 90%
        margin: 0 0 .2rem 0
        padding: .45rem .7rem
        color: white
        background-color: $tab-inactive
        font-family: 'din-regular', sans-serif
        font-size: .938rem
        text-transform: uppercase
        text-decoration: none
        &.disabled
          cursor: default !important
        .nav-etapes
          display: inline-block
          text-align: center
          > div
            border-radius: 5rem
            margin-right: .5rem
            padding: .1rem
            width: 1.5rem
            background-color: white
            font-size: .813rem
            color: $tab-active
    li.tabs-title.is-active
       a.bt-nav
         color: $tab-active-menu
         background-color: rgba(255, 255, 255, 1)
         bottom: -10%
         .nav-etapes > div
           color: white
           background-color: $tab-active-menu

/*-- MEDIA QUERIES -----------------------------------------------------------*/
@media only screen and (min-width: 0) and (max-width: 440px)
  nav.main-tabs > ul > li > a.bt-nav
    text-align: center
    .nav-etapes
      display: block
      margin-bottom: .2rem
      > div
        margin: 0 auto