.modal
  width: 90%
  height: auto
  margin: 0 auto 2rem auto
  overflow: hidden
  .close-button
    position: absolute
    top: 1rem
    right: 1rem
    background-color: #fff
    color: #ccc
    border: 2px solid #ccc
    border-radius: 5rem
    line-height: 2rem
    padding: 0.3rem 0.9rem 0.6rem
    transition: all 200ms
    z-index: 2
    &:hover
      color: $rouge-active
      border-color: $rouge-active
  .flex-content
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    > .left-content,
    > .right-content
      flex: 1
      min-width: 200px
      padding-bottom: 1rem
/*-- HELP --------------------------------------------------------------------*/
#modal-help
  header
    margin-bottom: 1rem
    background: url(/static/img/bg_header.jpg)
    background-size: cover
    padding-left: 4rem
    .icon-logo-thermix
      position: relative
      display: block
      float: left
      font-size: 14rem
      color: #FFFFFF
      line-height: 4rem
      height: 4rem
      margin: 1rem 0 0 0
    .bg-filet
      position: relative
      display: block
      float: left
      width: 45%
      height: 1.2rem
      margin: 2.2rem 0 0 1rem
      border-bottom: 1px solid #fff
    .titre-baseline
      position: relative
      display: block
      float: left
      clear: both
      text-transform: uppercase
      color: #fff
      font-size: 1.5rem
      margin: 0 0 1rem 0
  .bg-gris-content
    margin-bottom: 3rem
    padding: 0
  .flex-content
    > .left-content
      flex: 2
      min-width: 226px
      padding: 1rem
    > .right-content
      padding: 1rem
      text-align: center
/*-- ESTIMATE MY NEEDS -------------------------------------------------------*/
#modal-estimate-needs
  max-width: 800px
  padding: 0
  header
    margin: 2rem 0
  .bg-gris-content
    padding-bottom: 0
  label
    font-size: 1.25rem
    margin-bottom: 1rem
  .radio label
    font-size: 1rem
  .title
    padding: 1.5rem
  .content,
  .flex-content
    padding: 0 1rem 1rem 1rem
    > .left-content,
    > .right-content
      &.radio-list
        padding-right: 1rem
  .inline-inputs > .left-content,
  .inline-inputs > .right-content
    min-width: 210px
    padding: 0 1rem
  .right-container
    position: relative
    padding: 1.5rem 0
    text-align: right
    > button
      margin: 0