#results
  /*-- HEADER ----------------------------------------------------------------*/
  .bg-gris-content.js-scenarii-tab-panel
    padding: 2rem 0
  ul#scenarii-tabs li
    margin-right: 1rem
    &:last
      margin-right: 0
    a.button
      cursor: pointer
      &:hover
        color: $orange-thermix
        background-color: white
      &.bt-active
        cursor: default
        &:hover
          color: $orange-thermix
          background-color: white
  .solution-explanation
    margin-bottom: 1.8rem
    padding: 1rem 0
    font-size: 1rem
    color: #666666
    text-align: center
    background-color: white
  /*-- CARD ------------------------------------------------------------------*/
  .simple-card,
  .flip-card-face
    background-color: #fff
    padding: 1rem
    h2
      margin: 0 0 1.25rem 0
      font-size: 1.063rem
      color: $titre-carte
      font-family: 'din-medium', sans-serif
      &:after
        content: ""
        position: relative
        background: $filet-titre-carte none repeat scroll 0 0
        bottom: -8px
        display: block
        height: 3px
        width: 130px
    .content
      margin-bottom: 1.25rem
    &.back
      font-size: 0.9em
      p
        margin-bottom: .5rem
        &:last-child
          margin-bottom: 0
  .simple-card,
  .flip-card
    margin: 0 0 2rem 0
    &.large .flip-card-face.back
      p
        &:first-child
          margin-top: 1rem
      ul
        margin-top: 1rem
        list-style-type: square
        > li
          margin-bottom: 1em
          &:last-child
            margin-bottom: 0
  /*-- SAVINGS CARD ----------------------------------------------------------*/
  .simple-card.savings .container
    display: flex
    align-items: center
    justify-content: center
    margin: 2rem 0 0.6rem 0
    > .smiley
      flex: 1
      text-align: center
      > i
        position: relative
        color: $orange-thermix
        font-size: 150px
        vertical-align: middle
    > .content
      flex: 3
      margin: 0
      p
        &:last-child
          margin: 0
          font-style: italic
        &.hang
          position: relative
          padding: 1rem
          background-color: $bg-gris-phrase
          font-size: 1.375rem
          line-height: normal
          color: #fff
          display: inline-block
          vertical-align: middle
          width: 100%
          .big-txt
            font-size: 1.79rem
  /*-- CHART -----------------------------------------------------------------*/
  .chart
    height: 320px
    margin: 0 auto
    &.period_total_cost_chart
      height: 340px
    &.environmental_impact_chart
      height: 370px
    &.energy_yearly_price_variations_chart
      max-width: 340px
      height: 320px
  .ref-text
    position: absolute
    bottom: 1rem
    left: 2rem
    font-style: italic
    font-size: .7em
    color: #666
  /*-- DOWNLOAD PDF BUTTON ---------------------------------------------------*/
  .simple-card.pdf
    margin: 0
    padding: 0
    a
      width: 100%
      min-height: 84px
      position: relative
      display: flex
      align-items: center
      justify-content: center
      color: $txt_content
      line-height: 1.2rem
      padding: 1rem
      margin: 0
      transition: all 200ms ease-in-out
      &:hover,
      &:focus
        text-decoration: none
        color: $lien-rouge
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22)
      &:active
        transition: none
        box-shadow: none
      .pdf-icon
        flex: 1
        text-align: center
        &:before
          position: relative
          font-family: "ico-thermix"
          content: "\e90a"
          color: #e30613
          font-size: 4rem
          font-style: normal
          font-variant: normal
          font-weight: normal
          text-transform: none
          vertical-align: middle
      > .pdf-text
        position: relative
        flex: 3
        padding: .6rem
        .titre-pdf
          font-family: "din-medium",sans-serif
          text-transform: uppercase
          font-size: 1.063rem
          margin-bottom: .4em
  /*-- NEW SIMULATION BUTTON -------------------------------------------------*/
  #new-simulation
    margin: 1rem 0
/*-- MEDIA QUERIES -----------------------------------------------------------*/
@media (max-width: 1000px)
  #results .simple-card.savings .container > .smiley > i
    font-size: 15vw
