#heating-solutions
  position: relative
  display: block
  margin: 0
  padding: 0
  ul.nolist
    text-align: center
    li
      position: relative
      margin-right: 1em
      padding-bottom: 1.2rem
      &:last
        margin-right: 0
      > .js-wizard-tab
        margin-bottom: 0
        color: $wizard-valider
        border: 3px solid $wizard-valider
        &:not(.active)
          cursor: pointer
          pointer-events: all
          background-color: transparent
          &:hover
            color: white
            background-color: $wizard-valider
          &:focus,
          &:active
            border: 3px solid $wizard-valider
            color: $wizard-valider
            background-color: transparent
        &.active
          color: white
          border: 3px solid $orange-thermix
          background-color: $orange-thermix
        &.disabled
          cursor: default
          pointer-events: none
          color: $orange-thermix
          background-color: transparent
          border: none
          opacity: .8
      &.with-errors
        > .nb-errors
          position: absolute
          bottom: 0
          left: 0
          right: 0
          font-size: .8em
          color: $error
        > .js-wizard-tab
          border-color: $error
          &.active,
          &:not(.active):hover
            color: white
            background-color: $error
          &:not(.active)
            color: $error
          &:not(.active):focus,
          &:not(.active):active
            color: $rouge-active
            border-color: $rouge-active
            background-color: transparent
  label
    margin-bottom: .5rem
    font-size: 1.2rem
  /*-- FURTHER INFOS ---------------------------------------------------------*/
  .with-further-infos
    margin-bottom: 1rem
    > label
      margin-bottom: 0
      select
        margin-bottom: 1rem
    .further-infos
      position: relative
      display: flex
      flex-direction: row
      align-items: center
      width: 100%
      margin: -1rem 0 0 0
      padding-top: .5rem
      background-color: #fafafa
      border: 1px solid #e6e6e6
      border-top: none
      background-color: #fff
      background-color: $bg-accordion-content
      label
        padding: 0
        font-size: 0.95rem
        input,
        .input-group-label
          height: 2.5rem
      .left-content
        width: 50px
        @media (max-width: 350px)
          width: 30px
          font-size: 0.9rem
      .vertical-label
        position: relative
        height: 255px
        > .section-label:first-child
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(-50%) translateY(-50%) rotate(-90deg)
          color: $orange-thermix
          text-align: center
          white-space: nowrap
        + .columns
          padding-left: 0
      .checkbox
        margin: 1rem 0
  .js-wizard-tab-panel-wrapper
    position: relative
    display: block
    margin: 0 -20px
    // negative margin to have small gap between panels during animation
    padding: 0
    white-space: nowrap
    .js-wizard-tab-panel
      display: none
      position: relative
      margin: 0 20px
      // compensation of parent negative margin to keep panel aligned with inner body
      white-space: normal
      vertical-align: top
      &.active
        display: inline-block
  /*-- WIZARD NAVBAR ---------------------------------------------------------*/
  nav.js-wizard-navbar
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 1rem
    &:after
      content: ""
      clear: both
      display: table
    button
      cursor: pointer
      border: 3px solid $orange-thermix
      margin: 0 0 0.625rem 0
      background-color: $orange-thermix
      text-transform: uppercase
      font-size: 0.875rem
      font-family: 'din-regular', sans-serif
      font-weight: normal
      border-radius: 10px
      color: white
      padding: 0.45rem 0.8rem
      margin: .5rem .2rem
      line-height: 1.3rem
      transition: all 200ms ease-in-out
      &:hover
        text-decoration: none
        color: $orange-thermix
        border: 3px solid $orange-thermix
        background-color: white
      &.disabled
        cursor: default
        pointer-events: none
        text-decoration: none
        border: 3px solid #ccc
        background-color: #ccc
        &:hover
          color: white
      > i
        font-size: 1.2rem
        line-height: inherit
        vertical-align: middle
    > .left-buttons,
    > .right-buttons
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      flex: 1
    > .left-buttons
      button
        border: 3px solid #979186
        color: #979186
        background-color: white
        &:hover
          text-decoration: none
          background-color: white
        &.is-hidden
          display: none
          pointer-events: none
      .js-wizard-cancel:hover
        color: #e42313
        border: 3px solid #e42313
      .js-wizard-reset:hover
        color: $orange-thermix
        border: 3px solid $orange-thermix
      .js-wizard-prev:hover
        color: #333333
        border: 3px solid #333333
    > .right-buttons
      .js-wizard-next
        flex: 1
        &:after
          font-family: "ico-thermix"
          content: "\e908"
          font-size: 0.6rem
          font-style: normal
          font-variant: normal
          font-weight: normal
          line-height: 0
          position: relative
          right: -0.5rem
          top: -0.10rem
          text-transform: none
          vertical-align: middle
