.flip-container
  position: relative
  height: 100%
  transform-style: preserve-3d
  perspective: 1500
  transition: box-shadow 200ms ease-in-out, transform 500ms ease-out
  background-color: white
  &:hover
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22)
    .front:after,
    .back:after
      color: $icon-flip-hover
  &.flipped
    transform: rotatey(-180deg)
    background: none
  .flip-card.face
    backface-visibility: hidden
    z-index: 2
    height: 100%
  .flip-card.front
    position: absolute
    width: 100%
    z-index: 1
  .flip-card.back
    transform: rotatey(-180deg)
.flip-card-container
  perspective: 1500px
  margin-bottom: 2rem
  > .flip-card
    transform-style: preserve-3d
    position: relative
    min-height: 481px
    transition: box-shadow 200ms ease-in-out, transform 500ms ease-out
    > .flip-card-face
      cursor: pointer
      width: 100%
      height: 100%
      padding: 1rem
      backface-visibility: hidden
      overflow: hidden
      // Flip icon
      &:before
        content: "\e906"
        cursor: pointer
        position: absolute
        display: block
        top: .25rem
        right: .4rem
        width: 40px
        height: 40px
        font-family: 'ico-thermix'
        font-size: 2rem
        text-align: center
        background: none
        color: $icon-flip
      h2
        position: relative
        display: inline-block
        width: 97%
        padding: 0 3rem 0 0
      &.front
        z-index: 2
        position: absolute
        top: 0
        left: 0
        width: 100%
        /* for firefox 31 */
        transform: rotateY(0deg)
      &.back
        position: relative
        min-height: inherit
        transform: rotateY(180deg)
        background-color: $bg-carte-back !important
        &:before
          color: $orange-thermix
  &:hover > .flip-card
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22)
    > .flip-card-face:before
      color: $icon-flip-hover
  &.flipped > .flip-card
    transform: rotateY(180deg)
