/**
 * @license Highcharts
 *
 * CSS DESIGN - EXTENSION GRAPHIC - 25/07/2017
 */
/* Series options */
/* Default colors */
// GRAPHIQUE COLONNE DROITE - Bilan environnemental
.highcharts-color-0
  fill: #764532
  stroke: #764532
.highcharts-color-1
  fill: #d0e85f
  stroke: #bcde1b
.highcharts-color-2
  fill: #90ed7d
  stroke: #90ed7d
.highcharts-color-3
  fill: #f7a35c
  stroke: #f7a35c
.highcharts-color-4
  fill: #8085e9
  stroke: #8085e9
.highcharts-color-5
  fill: #f15c80
  stroke: #f15c80
.highcharts-color-6
  fill: #e4d354
  stroke: #e4d354
.highcharts-color-7
  fill: #2b908f
  stroke: #2b908f
.highcharts-color-8
  fill: #f45b5b
  stroke: #f45b5b
.highcharts-color-9
  fill: #91e8e1
  stroke: #91e8e1
// COULEURS CONTAINER 3 - 1er GRAPHIQUE CENTRE
.m15_years_cost
  .highcharts-color-0
    fill: #c5c2bc
    stroke: #fff
  .highcharts-color-1
    fill: #9c0a7d
    stroke: #fff
  .highcharts-color-2
    fill: #bcde1b
    stroke: #fff
  .highcharts-color-3
    fill: #f7a35c
    stroke: #f7a35c
  .highcharts-color-4
    fill: #8085e9
    stroke: #8085e9
  .highcharts-color-5
    fill: #f15c80
    stroke: #f15c80
  .highcharts-color-6
    fill: #e4d354
    stroke: #e4d354
  .highcharts-color-7
    fill: #2b908f
    stroke: #2b908f
  .highcharts-color-8
    fill: #f45b5b
    stroke: #f45b5b
  .highcharts-color-9
    fill: #91e8e1
    stroke: #91e8e1
