@require "colors"
@require "responsive_table"
@require "tabbed_card"

@require "_variables"

@require "highcharts_custom"
@require "tooltipster_custom"
@require "flip_card"

//stylesheet by Frederic Bergia
@require "_design" 

@require "_main"
@require "_header"
@require "_main_tabs"
@require "_footer"
@require "_wizard"
@require "_results"
@require "_modals"


li.accordion-item
    a.accordion-title
        font-size: 1.6rem
        font-weight: bold

.accordion-map
    height: 400px


.get-auto-consumption
    margin-top: 1rem
    .vue-slider-component
        margin-top: 2rem

.strong
    font-weight: bold