// <table class="responsive-card-table unstriped">
//   <thead>
//     <tr>
//       <th>First Name</th>
//       <th>Last Name</th>
//       <th>Hero Title</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td data-label="First Name">Bruce</td>
//       <td data-label="Last Name">Wayne</td>
//       <td data-label="Hero Title">Batman</td>
//     </tr>
//     <tr>
//       <td data-label="First Name">Peter</td>
//       <td data-label="Last Name">Parker</td>
//       <td data-label="Hero Title">Spiderman</td>
//     </tr>
//     <tr>
//       <td data-label="First Name">Bruce</td>
//       <td data-label="Last Name">Banner</td>
//       <td data-label="Hero Title">The Hulk</td>
//     </tr>
//     <tr>
//       <td data-label="First Name">Clark</td>
//       <td data-label="Last Name">Kent</td>
//       <td data-label="Hero Title">Superman</td>
//     </tr>
//   </tbody>
// </table>

$responsive-card-table-bottom-gap = 1.5rem
$responsive-card-table-border = 1px solid #888
$responsive-card-table-stack-point = 940px
$responsive-card-table-label-bg = #f1f1f1


.responsive-card-table
  border-collapse: collapse

  &.unstriped tbody
    background-color: transparent

  th
    background-color: $responsive-card-table-label-bg

  tr
  th
  td
    border: $responsive-card-table-border

  @media screen and (max-width: $responsive-card-table-stack-point)
    thead tr
      position: absolute
      top: -9999em
      left: -9999em

    tr
      border: $responsive-card-table-border
      display: block

    tr + tr
      margin-top: $responsive-card-table-bottom-gap
    /* Get table cells to act like rows */

    td
      border: none
      display: flex
      justify-content: flex-start
      align-items: center
      border-bottom: $responsive-card-table-border
      padding-left: 50%
      position: relative
      text-align: left
      min-width: 200px

      &:before
        content: attr(data-label)
        display: inline-block
        font-weight: bold
        line-height: 1.5
        margin-left: -100%
        margin-right: 10%
        width: 90%
        position: relative
        z-index: 1

      &:after
        content: ''
        position: absolute
        background: $responsive-card-table-label-bg
        width: 45%
        height: 95%
        left: 1px
        top: 1px
        z-index: 0

