.tooltip-content
  display: none
.tooltipster-sidetip.tooltipster-light.tooltipster-light-custom
  .tooltipster-box
    font-family: DIN-Regular, Arial, sans-serif
    font-size: 14px
    line-height: 16px
    padding: 8px 10px
    border: 1px solid #cccccc
    background: #3E85C1
    color: #FFF
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.2), 0 10px 18px rgba(0, 0, 0, 0.12)
    a, a:hover, a:focus
      color: black
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background
  border-top-color: #3E85C1
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background
  border-bottom-color: #3E85C1
.question-mark
  border-radius: 50%
  border-style: solid
  padding-left: 0.35em
  padding-right: 0.35em
  background-color: #999387
  /* #fec930; */
  margin-left: 0.5em
  color: white
  font-weight: bold
  &:hover
    cursor: help